<div class="text-center">
<mat-card class="mt20 mb20 ml20 mr20" >
    <mat-card-header class="text-center">
            <h1 >Questions of {{title}}</h1>
    </mat-card-header>
</mat-card>
</div>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                
                <button [routerLink]="'/admin/add-question/'+qId+'/'+title" mat-raised-button color="primary">Add Question</button>
            </div>
            <mat-card *ngFor="let q of questions; let i = index" class="mt20 mb20 ml20 mr20">
                <mat-card-content>
                    <p>
                       <code>
                    Q{{i+1}} . <span [innerHtml]="q.content"></span>
                </code>
                </p>       
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>1)</b> {{  q.option1 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p> <b>2)</b> {{  q.option2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>3)</b> {{  q.option3 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p> <b>4)</b> {{  q.option4 }}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="mt20 ">
                            <b>Correct Answer: {{q.answer}}</b>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions >
                    <div class="container text-center">
                        <button mat-button color="primary">Update</button>
                        <button (click)="deleteQuestion(q.quesId)" mat-button color="warn">Delete</button>
                    </div>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
